@import url('https://fonts.googleapis.com/css?family=Mansalva|Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #131313;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-family: 'Mansalva', sans-serif;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 0.2rem;
  margin: 1.5rem auto;
}

#scoreField {
  width: 40%;
  min-width: 330px;
  margin: 0 auto;
  display: none;
  grid-template-columns: auto 2rem 1rem auto 2rem;
  grid-template-rows: 2rem;
  grid-column-gap: 0.5rem;
  justify-content: space-around;
  align-content: center;
  height: 4rem;
  background: black;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
}



#player1 {
  grid-column: 1 / 2;
}

#scorePlayer1 {
  grid-column: 2 / 3;
}

#player2 {
  grid-column: 4 / 5;
}

#scorePlayer2 {
  grid-column: 5 / 6;
}

.winnerField p {
  margin: 0;
}

.winnerField button {
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  background: rgb(15, 49, 82);
  color: white;
}

.winnerField {
  display: none;
  width: 14rem;
  height: 8rem;
  padding: 1rem;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  background: rgba(44, 102, 149, 0.9);
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 5px;
  position: fixed;
  top: calc(50% - 2.5rem);
  left: calc(50% - 7rem);
}


#board {
  display: none;
  flex-flow: row wrap;
  align-items: space-between;
  justify-content: space-between;
  width: 35%;
  margin: 2rem auto;
  border-radius: 10%;
  box-shadow: 0 0 50px 20px rgb(91, 86, 86);
}
@media only screen and (max-width: 660px) {
  #board {
    width: 70%;
  }
}

.boardBox {
  border: 0.4rem solid;
  border-image-source: linear-gradient(0deg, #4f6a7d, #2c3e50, #4f6a7d);
  border-image-slice: 1;
  background-color: rgba(240, 240, 240);
  text-align: center;
  box-sizing: content-box;
  font-family: 'Mansalva', sans-serif;
  color: black;
}

.boxSmallerBorder {
  border: 0.2rem solid;
}

.boxBorderTopNone {
  border-top: none;
}

.boxBorderLeftNone {
  border-left: none;
}

.boxBorderRightNone {
  border-right: none;
}

.boxBorderBottomNone {
  border-bottom: none;
}

.boxBorderTopLeftRadius {
  border-top-left-radius: 10%;
}

.boxBorderTopRightRadius {
  border-top-right-radius: 10%;
}

.boxBorderBottomRightRadius {
  border-bottom-right-radius: 10%;
}

.boxBorderBottomLeftRadius {
  border-bottom-left-radius: 10%;
}

.boardBox:hover {
  background: rgba(180, 180, 180, 1);
  cursor: pointer;
}

.settings {
  width: 30rem;
  padding: 2rem;
  margin: 3rem auto;
  border: 2px outset rgb(200, 200, 200);
  box-shadow: 1px 1px 3px 1px rgb(227, 227, 227);
  background: black;
  background: linear-gradient(to bottom, #000000, #434343);
  border-radius: 1rem;
}

.settingsLabel {
  list-style: none;
  padding: 0;
  margin: 0;
}

.settingsLabel li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin: 1rem 0;
}

.settingsLabel label {
  flex: 1 0 120px;
  max-width: 200px;
}

@media only screen and (max-width: 520px) {
  .settings {
    width: 20rem;
  }
  .settingsLabel label {
    max-width: 120px;
  }
}

.settingsLabel input[type=text] {
  flex: 1 0 50px;
  max-width: 150px;
  margin-right: 1rem;
}

.boardX {
  margin: 0 1rem;
}

input[type=number] {
  width: 2.5rem;
}


#start {
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  width: 8rem;
  display: block;
  margin: 2rem auto 0 auto;
  background-image: linear-gradient(to right, #6e6e6f 0%, #eef2f3 51%, #6e6e6f 100%);
}

#start:hover {
  background-image: linear-gradient(to right, #eef2f3 0%, #6e6e6f 51%, #eef2f3 100%);
}

.redFont {
  color: red;
  text-shadow: 0 0 5px red;
  border-color: black;
}
